body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#home-body {
    background-image: url("images/dog2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/*********** HEADER ************/

header {
    padding: 15px 25px;
}

#main-header {
    background-color: #E0EFF6;
}


#logo {
    font-family: 'Doppio One', sans-serif;
    float: left;
    margin: 0;
    padding: 15px 25px 0px 25px;
}

#logo a {
    text-decoration: none;
    padding: 0;
    text-align: left;
    /*color: rgb(213,128,48);*/
    color: black;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 25px 20px 25px;
    text-decoration: none;
}

/*********** FOOTER ************/

footer {
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.footer-right {
    float: right;
    margin: 0px 20px;
    list-style-type: none;
}

#copyright {
    display: block;
    float: right;
    margin: 20px 10px;
    font-size: 10px;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    font-family: 'Open Sans', sans-serif;
}


/*********** SEARCH BAR ************/

.round {
    width: 100%;
    border-radius: 30px;
    border: 1px rgba(255,255,255,.5) solid;
    padding: 5px 5px 5px 25px;
}

#search-box {
    height: 30px;
    width: 85%;
    background-color: rgba(255,255,255,0.5);
    font-size: 16px;
}

::placeholder {
    color: rgba(0,0,0,0.2);
}

.search {
    position: relative;
    top: 110px;
    width: 40%;
    margin: auto;
}

.header-search {
    position: relative;
    top: -70px;
    width: 30%;
    left: 20%;
    /*margin: auto;*/
}

#search-button {
    position: absolute;
    float: left;
    border-radius: 30px;
    border: 1px rgba(0,0,0,0) solid;
    padding: 10px 20px 10px 20px;
    margin: 0px 10px;
    height: 100%;
    background-color: rgba(255,255,255,1);
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}


/*********** QUICK BROWSING BUTTONS ************/

#home-question-text {
    position: relative;
    text-align: center;
    top: 125px;
    font-size: 1em;
}

#home-buttons {
    padding: 0px;
    position: relative;
    top: 140px;
    margin: auto;
    width: 50%;
}


.call-to-action-button {
    display: block;
    border-radius: 30px;
    border: 1px rgba(0,0,0,0) solid;
    padding: 15px 20px;
    margin: 12px auto;
    background-color: black;
    font-size: 20px;
    width: 20%;
    color: #ffffff;
}

#home-buttons a {
    text-decoration: none;
}

/*********** DOGS BROWSING PAGE SIDEBAR ************/

h2 {
    margin: 0px;
}

#dogs-sidebar {
    position: relative;
    padding: 0px;
    margin: 0px 50px;
    width: 15%;
    display: inline-block;
    float: left;
}

.active-sidebar-category {
    font-weight: bold;
    text-decoration: underline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.filter-block {
    margin: 0px;
}

.filter-label {
    display: inline-block;
    margin: 0px;
}

.plus-expansion {
    display: inline-block;
    float: right;
    margin: 0px;
}

/*********** MAIN BROWSING CONTENT ************/

.nav-info {
    position: relative;
    width: 70%;
    display: inline-block;
    float: left;
    margin: 6px 20px 6px 20px;
}


.nav-label {
    display: inline-block;
    margin: 0px;
    font-size: 13px;
}

.sorting {
    display: inline-block;
    float: right;
    margin: 0px;
    font-size: 13px;
}

.results {
    color: rgba(0,0,0,0.3);
}

.item-row {
    width: 100%;
}

.item-picture {
    position: relative;
    width: 250px;
    height: 250px;
    display: inline-block;
    float: left;
    margin: 40px 25px;
    z-index: 6;
}

.item-picture img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    object-fit: cover;
}

.item-name {
    font-size: 13px;
    margin: 0px;
    padding: 5px 0px;
    display: inline-block;
    float: left;
}

.item-link {
    color: black;
}

.item-price {
    font-size: 13px;
    margin: 0px;
    padding: 5px 0px;
    display: inline-block;
    float: right;
}

.item-source {
    position: relative;
    font-size: 8px;
    width: 100%;
    color: white;
    margin: -35px 0px;
    padding: 5px 7px 5px 7px;
    display: inline-block;
    float: left;
    z-index: 5;
}

.details-page-item-source {
    position: relative;
    font-size: 8px;
    width: 100%;
    color: white;
    margin: -25px 0px;
    padding: 5px 7px 5px 7px;
    display: inline-block;
    float: left;
    opacity: 0.7;
}


/*********** DETAILS PAGE CONTENT ************/

.details-content {
    margin: auto;
    width: 80%;
}

.details-all-images {
    width: 40%;
    padding: 0px 20px;
    float: left;
}

.enlarged-image {
    width: 100%;
}

.enlarged-image img {
    width: 100%;
}

.thumbnail-container {
    width: 75px;
    height: 50px;
    float: left;
    padding: 10px 10px 10px 0px;
}

.thumbnail-container > img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    clear: both;
}

.inactive-thumbnail {
    opacity: 0.5;
}

/*text related details
*/

.text-details-block {
    width: 40%;
    padding: 0px 40px;
    float: left;
}

.item-title {
    font-family: 'Doppio One', sans-serif;
}

.inactive-star {
    opacity: 0.5;
}

.customization-block {
    padding: 5px 0px;
}

.customization-number {
    display: inline-block;
}

.customization-title {
    display: inline-block;
    width: 60%;
    margin: 0px 15px 0px 15px;
/*    vertical-align: center;*/
}

.colors {
    margin: 0px 40px;
}

.not-sure {
    color: black;
}

.sizes {
    margin: 0px 40px;
}

.delivery {
    margin: 0px 40px;
}

.quantity {
    margin: 20px 0px;
}

#add-to-cart {
    font-size: 16px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px rgb(255,255,255) solid;
    display: inline-block;

}

#quantity-input {
    font-size: 16px;
    padding: 10px;
}

.details-bullet {
    list-style: circle;
    width: 90%;
}

.description {
    font-size: 12px;
}

/*selecting customization for an item*/

.color-dot {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px;
}

.color1 {
    background-color: #E68645;
}

.color2 {
    background-color: #7AB0D2;
}

.color3 {
    background-color: #4A6051;
}

.active-color {
    border: 2px solid black;
}

.size-dot {
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 6px;
    text-align: center;
}

.active-size {
    border: 2px solid black;
}


/*the modal*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/
.modal {
/*    display: none;*/
    position: fixed; /* Keep in place */
    z-index: 1; /* Stau on top */
    margin-top: 75px;
    margin-right: 145px;
    right: 0;
    top: 0;
    width: 30%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #979797;
    width: 80%;
    overflow-y: scroll;
}

.number-in-cart-block {
    position: fixed; /* Keep in place */
    right: 0;
    top: 0;
    z-index: 0;
    padding-top: 23px;
    padding-right: 128px;
/*    display: none;*/
}

.number-in-cart-block-cart-page {
    position: fixed; /* Keep in place */
    right: 0;
    top: 0;
    z-index: 0;
    padding-top: 23px;
    padding-right: 128px;
/*    display: none;
*/}


.number-in-cart-dot {
    height: 20px;
    width: 20px;
    font-size: 13px;
    background-color: #C74C2B;
    color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 6px;
    padding: 4px;
    text-align: center;
}


/*cart page*/

.cart-content {
    margin: auto;
    width: 80%;
}

.shopping-heading-info {
    position: relative;
    width: 60%;
    display: inline-block;
    float: left;
    margin: 6px 20px 6px 20px;
    font-style: bold;
}

#continue-shopping-link {
    text-decoration: none;
    color: black;
}

.cart-summary-title-block {
    width: 20%;
    padding: 15px 40px;
    float: left;
}

.all-items {
    width: 60%;
    padding: 0px 20px;
    margin: 0px 20px;
    float: left;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}

/* Modal Content/Box */
.item-card {
/*    position: relative;
    width: 100%;*/
    padding: 20px;
    background-color: white;
    margin: 5% auto;
/*    border: 1px solid #888;
*/}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card-image-block {
    width: 80px;
    height: 75px;
    left: 0;
    margin: 0px 20px;
    display: inline-block;
}

.card-image-block > img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    clear: both;
    vertical-align: top;
}

.cart-summary-block {
    width: 20%;
    padding: 0px 20px;
/*    margin: 0px 20px;*/
    float: left;
/*    background-color: rgb(0,0,0);*/
/*    background-color: rgba(0,0,0,0.4);*/
    border-radius: 5px;
    border: black 1px solid;
}

.all-card-item-text {
    display: inline-block;
    top: 0px;
}

.card-item-text-blockA, .card-item-text-blockB, .card-item-text-blockC {
    display: inline-block;
    margin: 0px 0px 0px 40px;
    vertical-align: top;
}

.card-item-text-blockA p {
    margin: 0px;
}

.card-item-text-blockB p {
    margin: 0px;
}

.card-item-text-blockC p {
    margin: 0px;
}

.card-item-delivery {
    font-style: italic;
    font-size: 85%;
}

.card-item-title {
    font-weight: 900;
}

.card-item-price {
    font-weight: 900;
}

#cart-summary-line {
    padding: 1px;
    background-color: grey;
}

.checkout-button, .paypal-button {
    display: block;
    border: 1px rgba(0,0,0,0) solid;
    padding: 15px 20px;
    margin: 12px auto;
    background-color: black;
    font-size: 20px;
    width: 100%;
    color: #ffffff;
}

.checkout-link, .paypal-link {
    text-decoration: none;
}